pkgbase = undo-cli-bin
	pkgdesc = Revert what the last shell command did to the filesystem
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/edaywalid/undo
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = zsh: zsh hook
	optdepends = bash: bash hook
	optdepends = fish: fish hook
	provides = undo-cli
	conflicts = undo-cli
	source_x86_64 = https://github.com/edaywalid/undo/releases/download/v0.2.1/undo_0.2.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 050c8624ecf9198c1ff34f2bd6c4119d7ee8c9cec466b330538817533474c04f
	source_aarch64 = https://github.com/edaywalid/undo/releases/download/v0.2.1/undo_0.2.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 213a82985d3c90e21482dcae666f479750e6935fde0885c7c0f1988f57694002

pkgname = undo-cli-bin
